# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=changeit

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeit

# Version of Elastic products
STACK_VERSION=8.15.3

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=2g

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject

# Clave de encriptación de los datos (al menos 32 carácteres y que sea segura)
# Utilizar esta utilidad https://passwords-generator.org/32-character
# Escribir la clave genenrada entre ""
ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=changeit

# Clave de encriptación de los datos (al menos 32 carácteres y que sea segura)
# Utilizar esta utilidad https://passwords-generator.org/32-character
# Escribir la clave genenrada entre ""
SECURITY_ENCRYPTIONKEY=changeit

# Clave de encriptación de los datos (al menos 32 carácteres y que sea segura)
# Utilizar esta utilidad https://passwords-generator.org/32-character
# Escribir la clave genenrada entre ""
REPORTING_ENCRYPTIONKEY=changeit

# Elastic Agent configuration
FLEET_ENROLLMENT_TOKEN=<fleet-enrollement-token>

# Port to expose FLEET_SERVER to the host
FLEET_SERVER_PORT=8220